body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: sans-serif;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Oswald', sans-serif;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    opacity: 0.83;
    background: linear-gradient(#20fa98 0%, #20fafa 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;

}

.line {
    width: 70px;
    height: 6px;
    background-color: deepskyblue;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;

}

.menu {
    font-family: 'New Tegomin', serif;
    position: fixed;
    list-style: none;
    top: 0px;
    cursor: pointer;
    z-index: 10;
    width: 100%;
    margin-top: 0px;
    background-color: ghostwhite;
}

.lists {
    display: inline;
    font-family: 'New Tegomin', serif;
    font-size: 20px;
    color: darkslategray;
    padding-left: 33px;
    padding-right: 25px;
}

.lists:hover {
    background-color: dodgerblue;
    font-size: 25px;
    text-decoration: underline;
}

a {
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

.write1:hover {
    background-color: chartreuse;
}

.contact_div {
    background-color: dodgerblue;
    color: white;
}
